.o
.exe
FOD/Clases Teoricas/clase 6  PARTE1.pptx
FOD/Clases Teoricas/clase 6  PARTE2.pptx
FOD/Clases Teoricas/clase 6  PARTE3.pptx
Informatica-UNLP/__pycache__/mi-repo-filtrado/
*.exe
Algoritmos y Estructuras de Datos 'AyED'/Trabajos Practicos/TP1/TP1Ejercicio2/nbproject/
Algoritmos y Estructuras de Datos 'AyED'/Trabajos Practicos/TP1/TP1Ejercicio2/build/
__pycache__/
.gitattributes
mi-repo-filtrado/
mi-repo-filtrado/
*.o
